.DS_Store
node_modules
.venv
/build
/.svelte-kit
/.space
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

Pipfile.lock
Pipfile
.venv
# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
static/404.html

tests/result/
tests/raw_data/question_paper_html.html
api/jee/process_data/out/