.DS_Store
node_modules
.venv
/build
/.svelte-kit
/package
.env
.env.*
!.env.example

/py/o
Pipfile.lock
Pipfile
.venv
# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
static/404.html

tests/result/
