[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
deta = "*"
pyquery = "*"
requests = "*"
brotli-asgi = "*"
brotli = "*"

[dev-packages]
markdown = "*"
jinja2 = "*"
ipykernel = "*"
shubhlipi = "*"
python-dotenv = "*"
uvicorn = "*"
pyyaml = "*"
markdownify = "*"
requests = "*"
datamodel-code-generator = "*"
toml = "*"
black = "*"

[requires]
python_version = "3"
# python_version >= 3.7
