[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
deta = "*"
pyquery = "*"
jinja2 = "*"
markdown = "*"

[dev-packages]
black = "*"
ipykernel = "*"
shubhlipi = "*"
python-dotenv = "*"
uvicorn = "*"

[requires]
python_version = "3"
# python_version >= 3.7
