[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
deta = "*"
pyquery = "*"

[dev-packages]
black = "*"
markdown = "*"
jinja2 = "*"
ipykernel = "*"
shubhlipi = "*"
python-dotenv = "*"
uvicorn = "*"
pyyaml = "*"
markdownify = "*"
requests = "*"
datamodel-code-generator = "*"

[requires]
python_version = "3"
# python_version >= 3.7
